# FMP Stock Fundamentals Exploration: ESG

Welcome to this Jupyter Notebook of the Finsloth.

Our goal is to understand **the meaning and the structure of each data given by FMP, how to transform it for actual use in any trading or investing strategies**.

## About Financial Modeling Prep

Financial Modeling Prep is a stock market API that provides a wide range of data. Data covers stocks, crypto forex and commodities.

You have addition data such as institutional stock ownership, esg score, price target, etc.

There are several plans including a free one.

I am on a start plan for this notebook. Here are the link for the pricing: https://site.financialmodelingprep.com/developer/docs/pricing/

## ESG

A company’s ESG rating essentially represents its exposure to prolonged governance, social, and environmental risks. These critical factors primarily involve things such as employee safety, compliance, equal pay, anti-fraud policies, inclusion, and how eco-friendly the organization is. Moreover, all these issues have serious bearings on the company’s overall financials.

source: https://site.financialmodelingprep.com/developer/docs/esg-score-api/

In this Notebook, we will see three important metrics:
- ESG Scores
- ESG Risk Ratings
- ESG Benchmark

## Initial Import and API Key

In this section, we are going to perform classic libraries import to perform our data transformation and visualisation.

In [1]:
# We import the basics and some specific to APIs libraries

# Basic Data Manipulation Librairies
import pandas as pd
import numpy as np

# requests is another way of sending an API request to FMP
import requests

# json library makes it easier to access JSON format
import json

For privacy reason, I have hidden my key to access the API.

Here is the link to the dashboard where you can find your private key in case you created an account: https://site.financialmodelingprep.com/developer/docs/dashboard

In [2]:
# Because I want to share this file on Github, I made sure that it's not showing the actual key.
key=pd.read_csv('/Users/kevinrakotondrasoa/Documents/coding/key.txt', header=None)[0][0]

FMP provides us the right method to extract data from its API according to the coding language you are using.

Here is the function they provided us to extract data with Python.

## ESG Scores

There are different organizations that have come up with unique methods and formulas to calculate the ESG score of publicly traded companies, analyzing whether they effectively meet the current ESG standards.


A good example can be how Financial Modeling Prep conducts ESG ratings. The organization compiles publicly available data of different companies. The data harnessed is relevant to a business entity’s exposure to concerns and risks that are primarily industry-specific.


This typically involves data on how large its operations are and where the company operates. Based on these factors, Financial Modeling Prep assigns a value against that company’s ESG risks, comparing that company to other players in the industry, assigning a AAA (excellent ESG rating) or a CCC rating.


Awarding an ESG score to a company gives investors an opportunity to diligently and transparently compare different performance track records between several companies in various industries and sectors. There are three components of an ESG score:


The Environmental Factor: This ESG score considers a business’s environmental impact, evaluating the amount of carbon emissions made, the steps taken to reduce their carbon footprint, invest in biodiversity, reduce pollution, and they’re continuous strive to adopt greener technologies.


The Social Factor: This component considers a company’s openness to investing in a more diversified workplace, whether or not they have teams of motivated and satisfied employees, are engaged in charity, are inclusive, and condemn discrimination.


The Governance Factor: This analyses whether or not the company has an independent board, good overall corporate culture, executive pay, solid ethics, are not involved in bribery or corruption, and are advocates of transparency.

source: https://site.financialmodelingprep.com/developer/docs/esg-score-api/

### Amazon (AMZN) ESG score

In [8]:
# Building our link to ESG score
url1 = "https://financialmodelingprep.com/api/v4/esg-environmental-social-governance-data?symbol=AMZN&apikey="+key

# Making our call to ESG Score
# We won't print the json call as you can see it directly in the provided link
esg_score = requests.get(url1).json()

In [31]:
# Building our DataFrame
df = pd.DataFrame(esg_score)

# Calling our DataFrame
df

,symbol,cik,companyName,formType,acceptedDate,date,environmentalScore,socialScore,governanceScore,ESGScore,url
0,AMZN,0001018724,AMAZON COM INC,10-K,2023-02-02 18:27:34,2022-12-31,60.03,64.68,63.68,62.80,https://www.sec.gov/Archives/edgar/data/101872...
1,AMZN,0001018724,AMAZON COM INC,10-Q,2022-10-27 18:23:57,2022-09-30,53.26,62.48,59.21,58.32,https://www.sec.gov/Archives/edgar/data/101872...
2,AMZN,0001018724,AMAZON COM INC,10-Q,2022-07-28 18:24:06,2022-06-30,55.89,65.38,59.39,60.22,https://www.sec.gov/Archives/edgar/data/101872...
3,AMZN,0001018724,AMAZON COM INC,10-Q,2022-04-28 18:29:24,2022-03-31,53.73,65.43,60.08,59.75,https://www.sec.gov/Archives/edgar/data/101872...
4,AMZN,0001018724,AMAZON COM INC,10-K,2022-02-03 18:46:51,2021-12-31,57.36,63.01,63.30,61.23,https://www.sec.gov/Archives/edgar/data/101872...
...,...,...,...,...,...,...,...,...,...,...,...
83,AMZN,0001018724,AMAZON COM INC,10-Q,2002-04-24 00:00:00,2002-03-31,66.55,52.62,64.75,61.31,https://www.sec.gov/Archives/edgar/data/101872...
84,AMZN,0001018724,AMAZON COM INC,10-K405,2002-01-24 00:00:00,2001-12-31,66.49,62.98,63.73,64.40,https://www.sec.gov/Archives/edgar/data/101872...
85,AMZN,0001018724,AMAZON COM INC,10-Q,2001-10-30 00:00:00,2001-09-30,63.21,59.76,62.27,61.75,https://www.sec.gov/Archives/edgar/data/101872...
86,AMZN,0001018724,AMAZON COM INC,10-Q,2001-07-23 00:00:00,2001-06-30,60.37,61.42,57.77,59.86,https://www.sec.gov/Archives/edgar/data/101872...
87,AMZN,0001018724,AMAZON COM INC,10-Q,2001-04-27 00:00:00,2001-03-31,60.59,61.42,55.51,59.18,https://www.sec.gov/Archives/edgar/data/101872...

As we can see, the format is not really explorable as we might want to observe and amke some calculations over the different columns available.

We therefore need to go further into transformation of data.

In [32]:
# Dropping unnecessary columns to keep the most important ones
df=df.drop(["symbol","cik", "companyName", "url"], axis=1)

# Checking our dataframe
df.head()

,formType,acceptedDate,date,environmentalScore,socialScore,governanceScore,ESGScore
0,10-K,2023-02-02 18:27:34,2022-12-31,60.03,64.68,63.68,62.80
1,10-Q,2022-10-27 18:23:57,2022-09-30,53.26,62.48,59.21,58.32
2,10-Q,2022-07-28 18:24:06,2022-06-30,55.89,65.38,59.39,60.22
3,10-Q,2022-04-28 18:29:24,2022-03-31,53.73,65.43,60.08,59.75
4,10-K,2022-02-03 18:46:51,2021-12-31,57.36,63.01,63.30,61.23

In [24]:
# Checking the format of each columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   formType            88 non-null     object
 1   acceptedDate        88 non-null     object
 2   date                88 non-null     object
 3   environmentalScore  88 non-null     float64
 4   socialScore         88 non-null     float64
 5   governanceScore     88 non-null     float64
 6   ESGScore            88 non-null     float64
dtypes: float64(4), object(3)
memory usage: 4.9+ KB

In [26]:
# Compute the mean ESGScore of Amazon
df.ESGScore.mean()

58.52022727272727

## ESG Risk Rating

ESG Risk rating is the grade given to each company.

In [33]:
# Building our link
url2 = "https://financialmodelingprep.com/api/v4/esg-environmental-social-governance-data-ratings?symbol=AMZN&apikey="+key

# Building our call
esg_risk=requests.get(url2).json()

# Creating a dataframe from our call
df = pd.DataFrame(esg_risk)

# Showing our dataframe details to see which column we are dropping
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   symbol         22 non-null     object
 1   cik            22 non-null     object
 2   companyName    22 non-null     object
 3   industry       22 non-null     object
 4   year           22 non-null     int64
 5   ESGRiskRating  22 non-null     object
 6   industryRank   22 non-null     object
dtypes: int64(1), object(6)
memory usage: 1.3+ KB

In [34]:
# Dropping cik and companyName columns
df_risk=df.drop(["cik","companyName"], axis=1)

In [35]:
# Showing the first 5 lines of our DataFrame
df_risk.head()

  symbol                            industry  year ESGRiskRating  industryRank
0   AMZN  RETAIL-CATALOG & MAIL-ORDER HOUSES  2022             B  30 out of 45
1   AMZN  RETAIL-CATALOG & MAIL-ORDER HOUSES  2021             B  45 out of 53
2   AMZN  RETAIL-CATALOG & MAIL-ORDER HOUSES  2020             B  25 out of 35
3   AMZN  RETAIL-CATALOG & MAIL-ORDER HOUSES  2019             B  21 out of 28
4   AMZN  RETAIL-CATALOG & MAIL-ORDER HOUSES  2018             B  17 out of 24

As we can see from the information here, this score is not as useable as other type of information.

## ESG Benchmark by sector and by year

This allow us to understand how a company performs from an ESG point of view.

In [36]:
# Building our link
url3 = "https://financialmodelingprep.com/api/v4/esg-environmental-social-governance-sector-benchmark?year=2022&apikey="+key

# Building our call
esg_benchmark=requests.get(url3).json()

# Creating a dataframe from our call
df_bench = pd.DataFrame(esg_benchmark)

# Showing our dataframe details to see which column we are dropping
df_bench.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                398 non-null    int64
 1   sector              398 non-null    object
 2   environmentalScore  398 non-null    float64
 3   socialScore         398 non-null    float64
 4   governanceScore     398 non-null    float64
 5   ESGScore            398 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 18.8+ KB

In [42]:
# For the year 2022, there are 398 sectors
len(df_bench[df_bench.year == 2022]["sector"].unique())

398

In [44]:
# Here is an example of the existing DataFrame
df_bench.head(20)

,year,sector,environmentalScore,socialScore,governanceScore,ESGScore
0,2022,NATURAL GAS TRANSMISSION,69.41,64.00,63.21,65.54
1,2022,SHIP & BOAT BUILDING & REPAIRING,57.40,62.62,66.16,62.06
2,2022,CALCULATING & ACCOUNTING MACHINES (NO ELECTRON...,71.18,68.63,68.05,69.29
3,2022,SURGICAL & MEDICAL INSTRUMENTS & APPARATUS,58.63,63.28,65.36,62.42
4,2022,COOKIES & CRACKERS,65.38,58.31,62.48,62.06
5,2022,RETAIL-FAMILY CLOTHING STORES,60.58,67.57,66.85,65.00
6,2022,TRUCKING & COURIER SERVICES (NO AIR),65.27,62.43,65.58,64.43
7,2022,SANITARY SERVICES,54.45,62.11,73.58,63.38
8,2022,RETAIL-FOOD STORES,57.81,60.76,62.13,60.23
9,2022,SERVICES-MOTION PICTURE & VIDEO TAPE PRODUCTION,61.52,61.85,62.92,62.10
10,2022,MOTOR VEHICLES & PASSENGER CAR BODIES,64.04,59.15,66.37,63.18
11,2022,"RETAIL-HOBBY, TOY & GAME SHOPS",69.78,62.92,60.65,64.45
12,2022,ELECTROMEDICAL & ELECTROTHERAPEUTIC APPARATUS,58.08,62.84,64.43,61.78
13,2022,WHOLESALE-MOTOR VEHICLE SUPPLIES & NEW PARTS,44.62,66.39,57.30,56.10
14,2022,TELEPHONE & TELEGRAPH APPARATUS,56.71,61.89,63.15,60.58
15,2022,SERVICES-ENGINEERING SERVICES,67.87,66.72,64.62,66.40
16,2022,RETAIL-EATING & DRINKING PLACES,63.42,67.71,66.33,65.82
17,2022,"PAINTS, VARNISHES, LACQUERS, ENAMELS & ALLIED ...",58.11,66.44,68.46,64.34
18,2022,NONFERROUS FOUNDRIES (CASTINGS),74.17,62.27,70.42,68.95
19,2022,SERVICES-HEALTH SERVICES,60.89,67.19,65.20,64.43